# Model
model_name: "unsloth/whisper-large-v3"

# LoRA
use_lora: true
lora_r: 64
lora_alpha: 64
lora_dropout: 0.0
lora_target_modules:
  - "q_proj"
  - "v_proj"

# Whisper
language: "English"
task: "transcribe"

# Quantization
load_in_4bit: false
